/* Global styles */
//:root {
    //--background-color: #ddffdd !important;
//  }
  
  /* Header */
  ion-header {
    width: 90%; /* Full width */
   // --background: var(--background-color);
    box-shadow: none; /* Remove any shadow */
    border: none; /* Remove borders */
  }
  
  /* Name in header */
  .edit-title {
    font-size: 20px;
    text-align: center;
    margin: 10px;
  }
  
  /* Divider */
  .edit-divider {
    border: none;
    border-top: 2px solid black;
    margin: 10px;
  }
  .edit-message {
    color: black;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
  }

  /* Content section */
  .edit-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Use full available height */
    width: 90%;
    padding: 0; /* No additional padding */
  //  --background: var(--background-color);
  }

  /* Divider */
  .edit-divider {
    border: none;
    border-top: 2px solid black;
    margin: 10px;
  }

  .edit-name {
    overflow: hidden; /* Avoid text overflow */
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none; /* Optional: Add a subtle border */
    outline: none; /* Remove the focus outline */
    font-size: 16px;
    border-radius: 4px;
    white-space: pre-wrap; /* Preserve line breaks and spaces */
    word-wrap: break-word; /* Break long words */
    overflow-y: auto; /* Make it scrollable */
  }

/* Editable description */
.edit-description {
    flex: 1; /* Allow it to take up all available space */
    text-align: justify;
    margin: 10px;
    color: black;
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    overflow-y: auto; /* Make it scrollable */
    }
  
    /* Footer */
    ion-footer {
        width: 90%;
    //    --background: var(--background-color);
        box-shadow: none; /* Remove shadow */
        border: none; /* Remove borders */
      }  

  /* Modal buttons */
  .edit-buttons {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Optional: center vertically */
    width: 100%; /* Full width */
  }
  
  /* Cancel button */
  .edit-cancel-button {
    color: red;
    font-size: 20px;
  }
  
  /* OK button */
  .edit-confirm-button {
    color: green;
    font-size: 20px;
  }
