<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class = 'triangle' tab="tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Record</ion-label>
    </ion-tab-button>

    <ion-tab-button class = 'ellipse' tab="tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tracks</ion-label>
    </ion-tab-button>

    <ion-tab-button class = 'square' tab="tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Display</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
