  /* Header */
  ion-header {
    width: 100%; /* Full width */
   // --background: var(--background-color);
    box-shadow: none; /* Remove any shadow */
    border: none; /* Remove borders */
  }
  
  /* Name in header */
  .wpt-title {
    font-size: 20px;
    text-align: center;
    margin: 10px;
  }
  
  /* Divider */
  .wpt-divider {
    border: none;
    border-top: 2px solid black;
    margin: 10px;
  }
  .wpt-message {
    color: black;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
  }

  /* Content section */
  .wpt-content {
    display: flex;
    flex-direction: column;
    height: 100%; /* Use full available height */
    width: 100%;
    padding: 0; /* No additional padding */
  //  --background: var(--background-color);
  }

  /* Divider */
  .wpt-divider {
    border: none;
    border-top: 2px solid black;
    margin: 10px;
  }

  .wpt-name {
    overflow: hidden; /* Avoid text overflow */
    text-align: left;
    margin: 10px;
    padding: 10px;
    color: black;
    //background-color: white;
    border: none; /* Optional: Add a subtle border */
    outline: none; /* Remove the focus outline */
    font-size: 16px;
    border-radius: 4px;
    white-space: pre-wrap; /* Preserve line breaks and spaces */
    word-wrap: break-word; /* Break long words */
    overflow-y: auto; /* Make it scrollable */
  }

  .white {
    background-color: white;
  }

/* Editable description */
.wpt-comment {
    flex: 1; /* Allow it to take up all available space */
    text-align: justify;
    margin: 10px;
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    overflow-y: auto; /* Make it scrollable */
    }


  /* Footer */
    ion-footer {
        width: 100%;
    //    --background: var(--background-color);
        box-shadow: none; /* Remove shadow */
        border: none; /* Remove borders */
      }  

  /* Modal buttons */
  .wpt-buttons {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Optional: center vertically */
    width: 100%; /* Full width */
  }
  
  /* Cancel button */
  .wpt-cancel-button {
    color: red;
    font-size: 20px;
  }
  
  /* OK button */
  .wpt-confirm-button {
    color: green;
    font-size: 20px;
  }

.custom-button {
  display: flex; /* Ensures icon is centered within the button */
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin: 10px; /* Ensures the button is 10px away from all borders */
  width: 100%; /* Full width to make centering easier */
  height: auto; /* Adjust height as needed */
}

.custom-icon {
  color: black; /* Set the icon color to black */
  font-size: 40px; /* Adjust icon size (optional) */
}