<ion-header class="modal-header">
  <div class="modal-title" *ngIf="edit">
    <strong>{{ header }}</strong>
  </div>

  <div class="modal-title" *ngIf="!edit">
    <strong>{{ wptEdit.name }}</strong>
  </div>

  <!-- Divider -->
  <hr class="modal-divider"/>
</ion-header>

<ion-content class="modal-content">
  <div class="modal-message" *ngIf="showAltitude">
    <strong>{{ altitude }}: </strong>{{ wptEdit.altitude | number: '1.1-1' }} m
  </div>

  <div class="modal-message" *ngIf="edit">
    <strong>{{ name }}:</strong>
  </div>
  
  <div *ngIf="edit"
    class="modal-name white"
    contenteditable="true"
    aria-label="Editable message section"
    (input)="onNameChange($event)">
    {{wptEdit.name}}
  </div>

  <div class="modal-message">
    <strong>{{ comment }}:</strong>
  </div>
  
  <div *ngIf="edit"
    class="modal-description white"
    overFlow="hidden"
    contenteditable="true"
    aria-label="Editable message section"
    [innerHTML]="wptEdit.comment"
    (input)="onCommentChange($event)">
  </div>

  <div *ngIf="!edit"
    class="modal-description"
    overFlow="hidden"
    contenteditable="false"
    aria-label="Non-editable message section"
    [innerHTML]="wptEdit.comment">    
  </div>

</ion-content>

<ion-footer class="modal-footer">

  <ion-buttons class="modal-buttons" *ngIf="edit">
    <ion-button slot:end class="modal-confirm-button" (click)="dismissWithAction('ok')">OK</ion-button><br>
    <ion-button slot:end class="modal-cancel-button" (click)="dismissWithAction('cancel')">{{cancel}}</ion-button>
  </ion-buttons>

  <ion-button 
  (click)="toggleEdit()" 
  *ngIf="!edit" 
  fill="clear" 
  class="modal-edit-button">
  <ion-icon name="create" class="modal-large-icon"></ion-icon>
</ion-button>

</ion-footer>
