<ion-header>
  <ion-toolbar>
    <ion-label id="title">{{title}}</ion-label>
    <div class="fab-container">
      <ion-fab-button (click)="fs.goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="ion-content-scroll-host">
    <ion-list>
      <ion-item *ngFor="let item of collection">

        <ion-checkbox justify="space-between" [(ngModel)]="item.isChecked" (ionChange)="onChange()">
          <div [ngClass]="(item.isChecked) ? 'checked' : 'unchecked'">
            {{item.name}}<br>
            {{item.date | date: 'dd-MM-yyyy HH:mm' }}<br>
            {{item.place}}
          </div>
        </ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button [ngClass]="(presentSearch) ? 'redEnabled' : 'redDisabled'" (click)="removeSearch()"
          expand="block" [disabled]='(!presentSearch)'>
          <div>{{search}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button [ngClass]="(numChecked != 1) ? 'greenDisabled' : 'greenEnabled'" (click)="exportTrack()"
          expand="block" [disabled]='(numChecked != 1)'>
          <div>{{export}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button *ngIf="layerVisibility != 'multi'" class='greenEnabled' (click)="displayAllTracks(true)" expand="block">
          <div>{{all}}</div>
        </ion-button>
        <ion-button *ngIf="layerVisibility == 'multi'" class='redEnabled' (click)="displayAllTracks(false)" expand="block">
          <div>{{hideAll}}</div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button [ngClass]="(numChecked == 0) ? 'redDisabled' : 'redEnabled'" (click)="deleteTracks()" expand="block"
          [disabled]='(numChecked == 0)'>
          <div>{{remove}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button [ngClass]="(numChecked != 1) ? 'greenDisabled' : 'greenEnabled'" (click)="editTrack()"
          expand="block" [disabled]='(numChecked != 1)'>
          <div>{{edit}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button *ngIf="(numChecked == 1)" class= 'greenEnabled' (click)="displayTrack(true)"
          expand="block">
          <div>{{display}}</div>
        </ion-button>
        <ion-button *ngIf="(numChecked != 1)" [ngClass]="((layerVisibility != 'archived') || !archivedPresent) ? 'redDisabled' : 'redEnabled'" (click)="displayTrack(false)"
          expand="block" [disabled]="(layerVisibility != 'archived') || !archivedPresent">
          <div>{{hide}}</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>