ion-toolbar {
  height: 75px;
  display: flex;
  align-items: center; /* This is good */
}

/* Title Styling */
#title {
  font-size: 16px;
  font-family: 'Arial, sans-serif';
  font-weight: bold;
  margin-left: 10px;
}

/* Button Styling */
.header-button {
  --background: rgb(255, 221, 221);
  --color: black;
  --padding-start: 8px;
  --padding-end: 8px;
  --border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

/* Icon Styling */
ion-icon {
  font-size: 22px;
  color: black;
}

// ion-checkbox

ion-checkbox {
    --checkbox-background-checked: rgb(255, 221, 221);
    --border-color-checked: rgb(255, 221, 221);
    --checkmark-color: rgb(0, 0, 0);
}

.checked {
    background-color: #ffdddd !important;
}

.unchecked{
    background-color: white !important;
}

div{
    font-size: 14px !important;
    font-family: 'Arial, sans-serif';
}

// buttons

.redEnabled{
    --background: red;
    --color: white;
}

.redDisabled{
    --background: gray;
}

.greenEnabled{
    --background: rgb(0, 255, 0);
    --color: black;
}

.greenDisabled{
    --background: gray;
}

.move-up {
    padding-bottom: 20px;
  }
