<ion-header>
  <ion-toolbar>
    <ion-title id="title">{{ title[languageIndex] }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="header-button" shape="round" fill="solid" (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      <ion-button class="header-button" shape="round" fill="solid" (click)="fs.goHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button class="header-button" shape="round" fill="solid" (click)="fs.goSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-content-scroll-host">
    <ion-list>
      <ion-item *ngFor="let item of collection">

        <ion-checkbox justify="space-between" [(ngModel)]="item.isChecked" (ionChange)="onChange()">
          <div [ngClass]="(item.isChecked) ? 'checked' : 'unchecked'">
            {{item.name}}<br>
            {{item.date | date: 'dd-MM-yyyy HH:mm' }}<br>
            {{item.place}}
          </div>
        </ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <ion-menu side="start" contentId="main-content">
    <ion-content>
      <ion-list>
        <ion-item class="menu-button" button [disabled]='(!presentSearch)' (click)="removeSearch()">{{search[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]='(numChecked != 1)' (click)="exportTrack()">{{export[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]="(layerVisibility == 'multi')" (click)="displayAllTracks(true)">{{all[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]="(layerVisibility != 'multi')" (click)="displayAllTracks(false)">{{hideAll[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]='(numChecked == 0)' (click)="deleteTracks()">{{remove[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]='(numChecked != 1)' (click)="editTrack()">{{edit[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]='(numChecked != 1)' (click)="displayTrack(true)">{{display[languageIndex]}}</ion-item>
        <ion-item class="menu-button" button [disabled]="(numChecked == 1 || layerVisibility != 'archived' || !archivedPresent)" (click)="displayTrack(false)">{{hide[languageIndex]}}</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content id="main-content"></ion-content>
</ion-content>

<!--

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button [ngClass]="(presentSearch) ? 'redEnabled' : 'redDisabled'" (click)="removeSearch()"
          expand="block" [disabled]='(!presentSearch)'>
          <div>{{search[languageIndex]}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button [ngClass]="(numChecked != 1) ? 'greenDisabled' : 'greenEnabled'" (click)="exportTrack()"
          expand="block" [disabled]='(numChecked != 1)'>
          <div>{{export[languageIndex]}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button *ngIf="layerVisibility != 'multi'" class='greenEnabled' (click)="displayAllTracks(true)" expand="block">
          <div>{{all[languageIndex]}}</div>
        </ion-button>
        <ion-button *ngIf="layerVisibility == 'multi'" class='redEnabled' (click)="displayAllTracks(false)" expand="block">
          <div>{{hideAll[languageIndex]}}</div>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="move-up">
      <ion-col size="4">
        <ion-button [ngClass]="(numChecked == 0) ? 'redDisabled' : 'redEnabled'" (click)="deleteTracks()" expand="block"
          [disabled]='(numChecked == 0)'>
          <div>{{remove[languageIndex]}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button [ngClass]="(numChecked != 1) ? 'greenDisabled' : 'greenEnabled'" (click)="editTrack()"
          expand="block" [disabled]='(numChecked != 1)'>
          <div>{{edit[languageIndex]}}</div>
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button *ngIf="(numChecked == 1)" class= 'greenEnabled' (click)="displayTrack(true)"
          expand="block">
          <div>{{display[languageIndex]}}</div>
        </ion-button>
        <ion-button *ngIf="(numChecked != 1)" [ngClass]="((layerVisibility != 'archived') || !archivedPresent) ? 'redDisabled' : 'redEnabled'" (click)="displayTrack(false)"
          expand="block" [disabled]="(layerVisibility != 'archived') || !archivedPresent">
          <div>{{hide[languageIndex]}}</div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

-->
