// header

#title {
    margin-left: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Arial, sans-serif';
    font-weight: bold;
}  

ion-toolbar{
  background-color: #ddffdd !important;  
}

// ion-checkbox

ion-checkbox {
    --checkbox-background-checked: rgb(0, 255, 0);
    --border-color-checked: rgb(0, 255, 0);
    --checkmark-color: rgb(0, 0, 0);
    zoom: 1.5;
}

.checked {
    background-color: #ddffdd !important;
}

.unchecked{
    background-color: white !important;
}

div{
    font-size: 10px !important;
    font-family: 'Arial, sans-serif';
}

// buttons 

.redEnabled{
    --background: red;
    --color: white;
}

.redDisabled{
    --background: gray;
}

.greenEnabled{
    --background: rgb(0, 255, 0);
    --color: black;
}

.greenDisabled{
    --background: gray;
}

