ion-title{
  font-size: 30px;
  font-family: 'Arial, sans-serif';
  font-weight: bold
}

ion-toolbar{
  --background: yellow !important;
}

#canvasContainer {
  text-align: center;
}

.title {
  font-size: 20px;
  font-family: 'Arial, sans-serif';
  font-weight: bold
}

.yellow-card {
  background-color: yellow;
}

.disabled {
  --background: gray;
}
    
.enabled {
  --background: yellow;
}
  
ion-icon {
  color: black
}  


#map {
  height: 380px;
  width: 380px;
  }


  .initialMarker {
  width: 70px;
  height: 30px;
  color: #00cc00;
  background-color: #00cc00;
}  

