#map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  /* Set the transform origin to top left */
  transform-origin: center;

  /* Apply a default scale (1 = 100%) */
  transform: scale(1);
}

#map {
  width: 100%;
  height: 100%;
  //padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }

.reddish-color {
  background-color: #ffaaaa !important;
  color: black;
  ion-icon {
    color: black
  }
}

