
  <!-- buttons to select start / stop recording or save track -->

  <ion-fab slot="fixed" horizontal="center" vertical="top">
    <ion-row>
      <ion-fab-button *ngIf="state == 'inactive'" id='start' (click)="startTracking()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="state == 'tracking'" id='stop' (click)="confirm('stop')">
        <ion-icon name="pause"></ion-icon>
      </ion-fab-button>
      <ion-fab-button id='alert' (click)="waypoint()">
        <ion-icon name="alert"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="state == 'stopped'" id='save' (click)="setTrackDetails()">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="state == 'stopped' || state == 'saved'" id='trash' (click)="confirm('delete')">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
      <!-- Spacer -->
      <div style="width: 30px;"></div>
      <ion-fab-button id='search' (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-fab-button>
      <ion-fab-button id='help' (click)="guide()">
        <ion-icon name="help"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </ion-fab>

  <ion-content>
    <div id="map" class="map-container"></div>
  </ion-content>

  <!-- Navigation buttons -->
  <ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom">
    <ion-row>
      <ion-fab-button (click)="fs.gotoPage('canvas')">
        <ion-icon name="analytics"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="fs.gotoPage('tab2')">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="fs.gotoPage('tab3')">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </ion-fab>


