/* --- ESTADOS ESPECIALES (Grabando o Errores) --- */
.reddish-color {
  background-color: #ffaaaa !important;
  border-radius: 15px;
  color: black !important;
  ion-icon { color: black !important; }
}

ion-content {
  --background: transparent !important;
}

#map-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  transform-origin: center;
  transform: scale(1);
}

#map {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


