<!-- FAB button -->
<ion-fab slot="fixed" horizontal="center" vertical="top" class="top-safe">
  <ion-row>
    <div class="record-button with-indicator" (click)="present.isRecordPopoverOpen = true;">
      <ion-icon name="recording-sharp"></ion-icon>
      <span *ngIf="location.state === 'tracking'" class="tracking-dot"></span>
      <span>{{ 'RECORD.BUTTON' | translate }}</span>
    </div>
    <div class="record-button" (click)="reference.isSearchGuidePopoverOpen = true;">
      <ion-icon name="search-circle-sharp"></ion-icon>
      <span>{{ 'SEARCH.BUTTON' | translate }}</span>
    </div>
    <div class="record-button" (click)="mapService.cycleZoom()">
      <ion-icon name="expand-sharp"></ion-icon>
      <span>{{ 'MAP.ZOOM_BUTTON' | translate }}</span>
    </div>
  </ion-row>
</ion-fab>

<!-- On route? -->
@if (present.currentTrack && reference.archivedTrack) { 
  <ion-fab slot="fixed" class="route-indicator-fab" (click)="showStatusToast()">
    <div class="status-indicator-container">
      <div class="led-button" [ngClass]="fs.routeStatus"> <ion-icon [name]="fs.routeStatus === 'green' ? 'checkmark-circle' : (fs.routeStatus === 'red' ? 'alert-circle' : 'help-circle')"></ion-icon> </div>
    </div>
  </ion-fab>
}

<!-- Regular content -->
<ion-content [fullscreen]="true">
  <app-record-popover></app-record-popover>
  
    <app-search-guide-popover 
      (onWikiResult)="handleWikiResult($event)"
      (onClearResult)="wikiData = null">
    </app-search-guide-popover>
  
  <div id="map-wrapper">
    <div id="map"></div>
  </div>
  <div class="safe-area"></div>
</ion-content>

<app-wiki-card 
  *ngIf="wikiData"
  [data]="wikiData" 
  (onClose)="wikiData = null">
</app-wiki-card>

<!-- Camera -->
@if (location.state === 'tracking') {
  <ion-fab slot="fixed" vertical="top" horizontal="start" class="camera-fab">
    <ion-fab-button (click)="addPhotoWaypoint()" color="tertiary">
      <ion-icon name="camera-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
}

<!-- Navigation buttons -->
<ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom-safe">
  <ion-row>
    <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('canvas')">
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <span>{{ 'MAP.DATA_BUTTON' | translate }}</span>
    </div>
    <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('archive')">
      <ion-icon name="library-sharp"></ion-icon>
      <span>{{ 'MAP.ARCHIVE_BUTTON' | translate }}</span>
    </div>
    <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('settings')">
      <ion-icon name="settings-sharp"></ion-icon>
      <span>{{ 'MAP.SETTINGS_BUTTON' | translate }}</span>
    </div>
  </ion-row>
</ion-fab>

