.toggle-title {
  margin: 0;
  font-size: 1.2em;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Ensure it takes the full height of the row */
}

ion-toggle {
  margin-right: 20px;
  margin-left: 20px;
}

ion-button{
  margin-top: 0px;
  margin-left: 0px;
}

.pick {
  font-size: 15px !important;
  font-family: 'Arial, sans-serif';
}

ion-icon {
  --color: black
}

ion-grid {
  margin-top: 75px;
}

.label_b {
  color: #3880ff;
}

.circle {
  width: 20px;         /* Set the width of the circle */
  height: 20px;        /* Set the height of the circle */
}

