<ion-content>

  <!-- home -->
  <ion-fab slot="fixed" horizontal="center" vertical="top">
    <ion-fab-button (click)="goHome()">
      <ion-icon name='home'></ion-icon>
    </ion-fab-button>  
  </ion-fab>

  <!-- map provider -->
  <ion-grid>
    <ion-row class="centered-content">
      <ion-label>
        <h2 class="toggle-title">Map provider</h2>
      </ion-label>
    </ion-row>
      <ion-list class="centered-content">
        <ion-radio-group [(ngModel)]="provider" (ionChange)="onProviderChange($event)">
        <ion-row>
          <ion-item>
            <ion-label>Tomtom</ion-label>
            <ion-radio slot="start" value="Tomtom"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Mapbox</ion-label>
            <ion-radio slot="start" value="Mapbox"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>OSM</ion-label>
            <ion-radio slot="start" value="OSM"></ion-radio>
          </ion-item>
        </ion-row>
        </ion-radio-group>
      </ion-list>
  <!-- commercial provider -->
<!--
  <ion-row *ngIf="comChecked" class="centered-content">
      <ion-label>
        <h2 class="toggle-title">Commercial provider</h2>
      </ion-label>
    </ion-row>
    <ion-row *ngIf="comChecked">
      <div class="toggle-container">
        <ion-col size = 4 class="centered-content">
          <span class="label_a">Tomtom</span>
        </ion-col>
        <ion-col size = 4 class="centered-content">
          <ion-toggle [(ngModel)]="providerChecked" (ionChange)="providerChanged()"></ion-toggle>
        </ion-col>
        <ion-col size = 4 class="centered-content">
          <span class="label_b">Mapbox</span>
        </ion-col>
      </div>
    </ion-row>
-->
  <!-- map style -->
    <ion-row *ngIf="(provider != 'OSM')" class="centered-content">
      <ion-label>
        <h2 class="toggle-title">Map style</h2>
      </ion-label>
    </ion-row>
    <ion-row *ngIf="(provider != 'OSM')">
      <div class="toggle-container">
        <ion-col size = 4 class="centered-content">
          <span class="label_a">Basic</span>
        </ion-col>
        <ion-col size = 4 class="centered-content">
          <ion-toggle [(ngModel)]="styleChecked" (ionChange)="styleChanged()"></ion-toggle>
        </ion-col>
        <ion-col size = 4 class="centered-content">
          <span class="label_b">Satellite</span>
        </ion-col>
      </div>
    </ion-row>

    <!-- archived track -->
    <ion-row class="centered-content">
      <ion-label>
        <h2 class="toggle-title">Archived track</h2>
      </ion-label>
    </ion-row>
    <ion-row>
      <div class="toggle-container">
        <ion-col size = 4 class="centered-content">
          <span class="label_a">Invisible</span>
        </ion-col>
        <ion-col size = 4 class="centered-content">
          <ion-toggle [(ngModel)]="archivedChecked" (ionChange)="archivedChanged()"></ion-toggle>
        </ion-col>
        <ion-col size = 4 class="centered-content">
          <span class="label_b">Visible</span>
        </ion-col>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button class = 'bigButton' expand = 'block' (click)="selectColor('Current')">
          <div class="pick" >CURRENT<br>TRACK</div>
        </ion-button>
      </ion-col>  
      <ion-col size="2" offset="1">
        <div class="line" [ngStyle]="{'background-color': currentColor}"></div>
      </ion-col>  
      <ion-col size="2">
        <div class ="quest"><strong>??</strong></div>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="confirm('Current')">
          <div class="pick" >OK</div>
        </ion-button>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button class = 'bigButton' expand = 'block' (click)="selectColor('Archived')">
          <div class="pick" >ARCHIVED<br>TRACK</div>
        </ion-button>
      </ion-col>  
      <ion-col size="2" offset="1">
        <div class="line" [ngStyle]="{'background-color': archivedColor}"></div>
      </ion-col>  
      <ion-col size="2">
        <div class="quest"><strong>??</strong></div>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="confirm('Archived')">
          <div class="pick" >OK</div>
        </ion-button>
      </ion-col>  
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button class = 'bigButton' expand = 'block' (click)="triggerFileInput()">
          <div class="pick" >UPLOAD<br>TRACK</div>
        </ion-button>
        <input type="file" #fileInput (change)="onFileSelected($event)" accept=".gpx" style="display:none;">
      </ion-col>  
      <ion-col size="8">
        <div>
          {{ uploaded }}
        </div>
      </ion-col>  
    </ion-row>
  </ion-grid>
  
</ion-content>
