.toggle-title {
  margin: 0;
  font-size: 1.2em;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Ensure it takes the full height of the row */
}

ion-toggle {
  margin-right: 20px;
  margin-left: 20px;
}

ion-button{
  margin-top: 10px;
  margin-left: 20px;
}

ion-icon {
  --color: black
}

ion-grid {
  margin-top: 75px;
}

.label_b {
  color: #3880ff;
}
