<ion-header class="modal-header">
  <div class="modal-title">
    <strong>{{title}}</strong>
  </div>

  <!-- Divider -->
  <hr class="modal-divider"/>
</ion-header>

<ion-content class="nodal-content">

  <!-- Notice -->
  <div class="notice" *ngIf="showCurrent">{{notice1}}</div> 

  <!-- Find location -->
  <ion-row *ngIf="showSelection">
    <ion-col size="10">
      <ion-list>
      <ion-item>
        <ion-input 
          [(ngModel)]="query" 
          placeholder={{placeholder}}></ion-input>
      </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2" class="center-col">
        <ion-button 
        (click)="searchLocation()" 
        fill="clear" 
        class="modal-edit-button">
        <ion-icon name="search" class="modal-small-icon"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Notice -->
  <div class="notice" *ngIf="showCurrent">{{notice2}}</div> 

  <!-- Current location -->
  <ion-list id="current" *ngIf="showCurrent">
    <ion-radio-group [(ngModel)]="selectedCurrent" (ionChange)="onCurrentLocationChange($event)">
      <ion-item lines="none" class="full-width-item">
        <ion-label class="full-width-label">{{currentLocation}}</ion-label>
        <ion-radio color="warning" value="current" class="full-width-radio"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- Selection among different locations -->  
  <ion-list *ngIf="results.length > 0">
    <ion-item 
      *ngFor="let result of results" 
      (click)="selectLocation(result)">
      {{ result.display_name}}
    </ion-item>
  </ion-list>

  <!-- means of transportation --> 
  <ion-list id="transportation" *ngIf="showTransportation">
    <ion-radio-group [(ngModel)]="selectedTransportation">
      <!-- other options: driving-hgv, cycling-mountain, 
       cycling-road, cycling-electric -->
      <ion-item>
        <ion-label>{{transportation[0]}}</ion-label>
        <ion-radio slot="start" color="warning" value="driving-car"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[1]}}</ion-label>
        <ion-radio slot="start" color="warning" value="cycling-regular"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[2]}}</ion-label>
        <ion-radio slot="start" color="warning" value="foot-walking"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[3]}}</ion-label>
        <ion-radio slot="start" color="warning" value="foot-hiking"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[4]}}</ion-label>
        <ion-radio slot="start" color="warning" value="wheelchair"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-buttons class="modal-buttons" *ngIf="showTransportation">
    <ion-button class="modal-confirm-button" (click)="confirmSelection()">OK</ion-button>
  </ion-buttons>  
<ion-row *ngIf="loading" class="spinner-row">
  <ion-col>
    <ion-spinner class="center-spinner" color="dark"></ion-spinner>
  </ion-col>
</ion-row>
</ion-content>