<ion-header class="modal-header">
  <div class="modal-title">
    <strong>{{title}}</strong>
  </div>

  <!-- Divider -->
  <hr class="modal-divider"/>
</ion-header>

<ion-content class="nodal-content">
  <ion-row *ngIf="showSelection">
    <ion-col size="10">
      <ion-item>
        <ion-input 
          [(ngModel)]="query" 
          placeholder={{placeholder}}></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
        <ion-button 
        (click)="searchLocation()" 
        fill="clear" 
        class="modal-edit-button">
        <ion-icon name="search" class="modal-small-icon"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="results.length > 0">
    <ion-item 
      *ngFor="let result of results" 
      (click)="selectLocation(result)">
      {{ result.display_name }}
    </ion-item>
  </ion-list>
  <!-- means of transportation --> 
  <ion-list id="transportation" *ngIf="showTransportation">
    <ion-radio-group [(ngModel)]="selectedTransportation">
      <!-- other options: driving-hgv, cycling-mountain, 
       cycling-road, cycling-electric -->
      <ion-item>
        <ion-label>{{transportation[0]}}</ion-label>
        <ion-radio slot="start" color="warning" value="driving-car"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[1]}}</ion-label>
        <ion-radio slot="start" color="warning" value="cycling-regular"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[2]}}</ion-label>
        <ion-radio slot="start" color="warning" value="foot-walking"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[3]}}</ion-label>
        <ion-radio slot="start" color="warning" value="foot-hiking"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{transportation[4]}}</ion-label>
        <ion-radio slot="start" color="warning" value="wheelchair"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-buttons class="modal-buttons" *ngIf="showTransportation">
    <ion-button class="modal-confirm-button" (click)="confirmSelection()">OK</ion-button>
  </ion-buttons>  
  <ion-spinner *ngIf="loading"></ion-spinner>
</ion-content>
