
<ion-content class="custom-content">
  <swiper-container id="data" pagination="true">
    <swiper-slide>
      <div class="slide-wrapper">
        @if (present.currentTrack) {
          <div class='elementData card'>
            <div class="table-title">{{ 'CANVAS.CURTITLE' | translate }}</div>
            
            <div class="data-grid">
              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="location-outline" class="icon-dist"></ion-icon>
                  <span>{{ 'CANVAS.DISTANCE' | translate }}</span>
                </div>
                <div class="value">{{ present.currentTrack.features[0].properties.totalDistance | number: '1.3' }} <span>km</span></div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="time-outline" class="icon-time"></ion-icon>
                  <span>{{ 'CANVAS.TIME' | translate }}</span>
                </div>
                <div class="value">{{ formatMsec(present.currentTrack.features[0].properties.totalTime) }}</div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="play-circle-outline" class="icon-motion"></ion-icon>
                  <span>{{ 'CANVAS.MOTIONTIME' | translate }}</span>
                </div>
                <div class="value">{{ formatMsec(present.currentTrack.features[0].properties.inMotion) }}</div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="trending-up-outline" class="icon-up"></ion-icon>
                  <span>{{ 'CANVAS.EGAIN' | translate }}</span>
                </div>
                <div class="value">{{ present.currentTrack.features[0].properties.totalElevationGain | number: '1.0-0' }} <span>m</span></div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="trending-down-outline" class="icon-down"></ion-icon>
                  <span>{{ 'CANVAS.ELOSS' | translate }}</span>
                </div>
                <div class="value">{{ present.currentTrack.features[0].properties.totalElevationLoss | number: '1.0-0' }} <span>m</span></div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="mountain-outline" class="icon-alt"></ion-icon>
                  <span>{{ 'CANVAS.ALTITUDE' | translate }}</span>
                </div>
                <div class="value">{{ present.currentTrack.features[0].properties.currentAltitude | number: '1.0-0' }} <span>m</span></div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="speedometer-outline" class="icon-speed"></ion-icon>
                  <span>{{ 'CANVAS.SPEED' | translate }}</span>
                </div>
                <div class="value">{{ present.currentTrack.features[0].properties.currentSpeed | number: '1.1-1' }} <span>km/h</span></div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="analytics-outline" class="icon-avg"></ion-icon>
                  <span>{{ 'CANVAS.AVGSPEED' | translate }}</span>
                </div>
                <div class="value">{{ fs.averageSpeed | number: '1.1-1' }} <span>km/h</span></div>
              </div>

              <div class="data-row">
                <div class="label-group">
                  <ion-icon name="flash-outline" class="icon-movavg"></ion-icon>
                  <span>{{ 'CANVAS.MOTIONAVGSPEED' | translate }}</span>
                </div>
                <div class="value">{{ fs.averageMotionSpeed | number: '1.1-1' }} <span>km/h</span></div>
              </div>
            </div>
          </div>

          <div class='canvas-container' id='cc0'>
            <h1 class='title'>{{'CANVAS.CANVASALTITUDE' | translate}}</h1>
            <div class="canvas-wrapper">
              <canvas class='canvas' id="currCanvas0" [attr.width]="canvasSize" [attr.height]="canvasSize"></canvas>
            </div>
          </div>

          <div class='canvas-container' id='cc1'>
            <h1 class='title'>{{'CANVAS.CANVASSPEED' | translate}} ({{currentUnit}})</h1>
            <div class="canvas-wrapper">
              <canvas class='canvas' id="currCanvas1" [attr.width]="canvasSize" [attr.height]="canvasSize"></canvas>
            </div>
          </div>

        } @else {
          <div class="empty-state">
            <div class="icon-container current">
              <ion-icon name="stats-chart-outline"></ion-icon>
            </div>
            <h3>No hay actividad actual</h3>
            <p>Inicia una grabación para empezar a visualizar los datos de altitud y velocidad en tiempo real.</p>
            <ion-button fill="clear" (click)="fs.gotoPage('tab1')">Ir al mapa</ion-button>
          </div>
        }
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-wrapper">
        <div id="exportArea">
          @if (reference.archivedTrack) {
            <div class='elementData card'>
                <div class="table-title">{{ 'CANVAS.ARCTITLE' | translate }}</div>
                <div class="subtitle">{{ reference.archivedTrack.features[0].properties.name }}</div>
                
                <div class="data-grid">
                  <div class="data-row">
                    <div class="label-group">
                      <ion-icon name="location-outline" class="icon-dist"></ion-icon>
                      <span>{{ 'CANVAS.DISTANCE' | translate }}</span>
                    </div>
                    <div class="value">{{ reference.archivedTrack.features[0].properties.totalDistance | number:'1.3' }} <span>km</span></div>
                  </div>

                  <div class="data-row">
                    <div class="label-group">
                      <ion-icon name="time-outline" class="icon-time"></ion-icon>
                      <span>{{ 'CANVAS.TIME' | translate }}</span>
                    </div>
                    <div class="value">{{ formatMsec(reference.archivedTrack.features[0].properties.totalTime) }}</div>
                  </div>

                  <div class="data-row">
                    <div class="label-group">
                      <ion-icon name="trending-up-outline" class="icon-up"></ion-icon>
                      <span>{{ 'CANVAS.EGAIN' | translate }}</span>
                    </div>
                    <div class="value">{{ reference.archivedTrack.features[0].properties.totalElevationGain | number:'1.0-0' }} <span>m</span></div>
                  </div>

                  <div class="data-row">
                    <div class="label-group">
                      <ion-icon name="trending-down-outline" class="icon-down"></ion-icon>
                      <span>{{ 'CANVAS.ELOSS' | translate }}</span>
                    </div>
                    <div class="value">{{ reference.archivedTrack.features[0].properties.totalElevationLoss | number:'1.0-0' }} <span>m</span></div>
                  </div>
                </div>
              </div>

              <div class='canvas-container' id='ac0'>
                <h1 class='title'>{{'CANVAS.CANVASALTITUDE' | translate}}</h1>
                <div class="canvas-wrapper">
                  <canvas class='canvas' id="archCanvas0" [attr.width]="canvasSize" [attr.height]="canvasSize"></canvas>
                </div>
              </div>

              <div class='canvas-container' id='ac1'>
                <h1 class='title'>{{'CANVAS.CANVASSPEED' | translate}} ({{archivedUnit}})</h1>
                <div class="canvas-wrapper">
                  <canvas class='canvas' id="archCanvas1" [attr.width]="canvasSize" [attr.height]="canvasSize"></canvas>
                </div>
              </div>
            } @else {
          <div class="empty-state">
            <div class="icon-container archived">
              <ion-icon name="archive-outline"></ion-icon>
            </div>
            <h3>Archivo vacío</h3>
            <p>No has seleccionado ningún track del historial. Ve a la lista de archivos para cargar uno y comparar.</p>
            <ion-button fill="clear" (click)="fs.gotoPage('archive')">Ver historial</ion-button>
          </div>
        }
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="slide-wrapper">
        @if (reference.archivedTrack) {
          <div class='elementData card'>
            <div class="table-title">{{'CANVAS.ARCTITLE' | translate}}</div>
            <div class="subtitle">{{reference.archivedTrack.features[0].properties.name}}</div>

            <div class="partials-container">
            <div class="partials-header">
              <span>{{ 'CANVAS.KM' | translate }}</span>
              <span>{{ 'CANVAS.PACE' | translate }}</span>
              <span>{{ 'CANVAS.SPEED' | translate }}</span>
            </div>
              @for (ps of partialSpeeds; track i; let i = $index) {
                <div class="partial-row">
                  <div class="km-badge">{{ ps[0] }}</div>
                  <div class="pace-value">{{ ps[1] }}</div>
                  <div class="speed-value">
                    {{ ps[2] | number:'1.1-1' }} <span>km/h</span>
                  </div>
                </div>
              }
            </div>
          </div>
        }  
      </div>
    </swiper-slide>

  </swiper-container>
</ion-content>

<div class="bottom-safe-gray"></div>

<ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom-safe">
  <ion-row>
    <div class="record-button" (click)="fs.gotoPage('tab1')">
      <ion-icon name="earth-sharp"></ion-icon>
      <span>{{ 'MAP.MAP_BUTTON' | translate }}</span>
    </div>
    <div class="record-button" (click)="fs.gotoPage('archive')">
      <ion-icon name="library-sharp"></ion-icon>
      <span>{{ 'MAP.ARCHIVE_BUTTON' | translate }}</span>
    </div>
    <div class="record-button" (click)="fs.gotoPage('settings')">
      <ion-icon name="settings-sharp"></ion-icon>
      <span>{{ 'MAP.SETTINGS_BUTTON' | translate }}</span>
    </div>
  </ion-row>
</ion-fab>               