  <ion-popover
    [isOpen]="reference.isSearchGuidePopoverOpen"
    (didDismiss)="reference.isSearchGuidePopoverOpen = false"
    class="floating-popover">
    <ng-template>
      <div class="popover-island">
        <div class="button-grid">
          <button class="nav-item-btn" 
            [class.red-pill]="reference.foundPlace"
            (click)="reference.foundPlace ? clearSearchPlace() : openPlaceSearch()">
            <ion-icon [name]="reference.foundPlace ? 'trash-sharp' : 'location-sharp'" [class.primary-icon]="!reference.foundPlace"></ion-icon>
            <p>{{ 'SEARCH.LOCATION' | translate }}</p>
          </button>

          <button class="nav-item-btn" 
            [class.red-pill]="reference.foundRoute"
            (click)="reference.foundRoute ? clearSearchRoute() : openRouteSearch()">
            <ion-icon [name]="reference.foundRoute ? 'trash-sharp' : 'walk-sharp'" [class.primary-icon]="!reference.foundRoute"></ion-icon>
            <p>{{ 'SEARCH.ROUTE' | translate }}</p>
          </button>
        </div>
      </div>
    </ng-template>
  </ion-popover>

  <ion-popover
    [isOpen]="reference.isSearchPopoverOpen"
    (didDismiss)="reference.isSearchPopoverOpen = false"
    class="floating-popover top-search-popover">
    <ng-template>
      <div class="popover-island glass-form ">
        <div class="search-input-wrapper">
          <ion-icon name="search-sharp" class="inner-icon"></ion-icon>
          <ion-input [(ngModel)]="query" (keyup.enter)="openList()" [placeholder]="'SEARCH.SEARCH' | translate"></ion-input>
          <div class="input-actions-row">
            <ion-icon *ngIf="query" name="close-circle" class="clear-icon" (click)="query = ''; results = []"></ion-icon>
            <ion-icon [name]="(activeTarget === 'query' && isListening) ? 'mic-sharp' : 'mic-outline'" 
              [class.mic-active]="activeTarget === 'query' && isListening"
              class="mic-icon" (click)="startDictation('query')"></ion-icon>
          </div>
        </div>

        <button class="main-action-btn" (click)="openList()" [disabled]="loading">
          <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
          <span *ngIf="!loading && results.length === 0">{{ 'SEARCH.FIND_PLACES' | translate }}</span>
          <span *ngIf="!loading && results.length > 0">{{ 'SEARCH.SELECT_PLACE' | translate }}</span>
        </button>

        <div class="results-container" *ngIf="results.length > 0">
          <ion-list lines="none">
            <ion-item *ngFor="let result of results" (click)="handleLocationSelection(result)" button detail="false">
              <ion-label><h2>{{ result.short_name || result.name }}</h2></ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ng-template>
  </ion-popover>

  <ion-popover
    [isOpen]="reference.isGuidePopoverOpen"
    (didDismiss)="reference.isGuidePopoverOpen = false"
    class="floating-popover top-search-popover">
    <ng-template>
      <div class="popover-island glass-form">
        <div class="input-stack" [class.confirmed]="originCoords">
          <ion-input [(ngModel)]="query2" [placeholder]="'SEARCH.FROM' | translate" (ionFocus)="activeRouteField = 'origin'"></ion-input>
          <div class="input-actions-row">
            <ion-icon [name]="(activeTarget === 'query2' && isListening) ? 'mic-sharp' : 'mic-outline'" 
              [class.mic-active]="activeTarget === 'query2' && isListening"
              class="mic-icon" (click)="startDictation('query2')"></ion-icon>
            <ion-icon name="locate-sharp" (click)="useCurrentLocation('origin')" class="action-icon"></ion-icon>
          </div>
        </div>

        <div class="input-stack" [class.confirmed]="destinationCoords">
          <ion-input [(ngModel)]="query3" [placeholder]="'SEARCH.TO' | translate" (ionFocus)="activeRouteField = 'destination'"></ion-input>
          <div class="input-actions-row">
            <ion-icon [name]="(activeTarget === 'query3' && isListening) ? 'mic-sharp' : 'mic-outline'" 
              [class.mic-active]="activeTarget === 'query3' && isListening"
              class="mic-icon" (click)="startDictation('query3')"></ion-icon>
            <ion-icon name="locate-sharp" (click)="useCurrentLocation('destination')" class="action-icon"></ion-icon>
          </div>
        </div>
        
        <div class="transport-selection">
          <div *ngFor="let mode of transportMeans" class="mode-chip" [class.active]="selectedTransport === mode.id" (click)="selectedTransport = mode.id">
            <ion-icon [name]="mode.icon"></ion-icon>
          </div>
        </div>

        <button class="main-action-btn" (click)="onRouteButtonClick()" [disabled]="loading">
            <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
            <ng-container *ngIf="!loading">
              <span *ngIf="originCoords && destinationCoords">{{ 'SEARCH.GET_ROUTE' | translate }}</span>
              <span *ngIf="!(originCoords && destinationCoords) && results.length === 0">{{ 'SEARCH.FIND_PLACES' | translate }}</span>
              <span *ngIf="!(originCoords && destinationCoords) && results.length > 0">{{ 'SEARCH.SELECT_PLACE' | translate }}</span>
            </ng-container>
        </button>

        <div class="results-container" *ngIf="results.length > 0">
           <ion-list lines="none">
            <ion-item *ngFor="let result of results" (click)="selectRoutePoint(result)" button detail="false">
              <ion-label><h2>{{ result.short_name || result.name }}</h2></ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </ng-template>
  </ion-popover>
