/* --- 1. INTERACTIVIDAD Y POSICIÓN --- */
ion-fab {
  pointer-events: none;
  z-index: 1000;
  
  // Si tienes filas de botones dentro del FAB
  ion-row { pointer-events: auto; }
}

/* Ajuste para que el FAB no colisione con el Header */
.top-safe {
  margin-top: 55px; 
  margin-right: 10px;
}

/* --- 3. LISTA DE TRAYECTOS --- */
ion-item {
  --padding-start: 16px;
  --background: transparent;
  --min-height: 70px; // Un poco más alto para que respiren los textos
  
  strong {
    font-size: 15px;
    font-weight: 700;
    color: #222;
    display: block;
  }
  
  .item-date-subtitle {
    font-size: 11px;
    color: #777;
    margin-top: 4px;
    font-weight: 500;
  }
}

/* Texto destacado para la ruta que está cargada actualmente */
.active-text {
  color: var(--ion-color-primary) !important;
  font-weight: 800 !important;
}

/* --- 4. ESPACIADO --- */
.list-spacer {
  height: 100px; // Espacio para que el último elemento no quede bajo el FAB
}

/* -- PARA EL FAB DE DISPLAY / HIDE ALL
/* En archive.scss */

.top-safe-archive {
  /* Forzamos la posición arriba a la derecha */
  top: 15px !important; 
  right: 15px !important;
  margin: 0 !important; /* Quitamos cualquier margen que venga de .top-safe global */
  
  /* Quitamos el flex centralizado que pueda venir del global */
  display: block !important; 
  width: auto !important; 
  
  .record-button {
    /* Mantenemos el estilo ADN pero aseguramos que sea interactivo */
    pointer-events: auto;
  }
}