// 1. LISTA Y CONTENIDO
.item-content {
  display: flex;
  flex-direction: column;
  padding: 8px 0;

  strong {
    font-size: 1.1rem;
    margin-bottom: 4px;
  }

  .item-date-subtitle {
    margin: 0;
    font-size: 0.9rem;
    color: var(--ion-color-step-600);
  }
}

.active-text {
  color: var(--ion-color-primary);
}

// 2. BOTONES Y FILAS (Se aplica a FABs y Popover)
ion-row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.archive-color {
  background-color: #ffaaaa !important;
  color: black;
  ion-icon { color: black; }
}

// 3. POSICIONAMIENTO
.list-spacer {
  height: 100px;
  width: 100%;
}

ion-fab[vertical="top"] {
  margin-top: 12px !important;
}

// 4. POPOVER 
ion-popover {
  --width: 90%;
  --max-width: 400px;
  
  ion-list {
    padding: 10px;
  }
  
  .confirm {
    --inner-padding-end: 0;
    text-align: center;
  }
}