<!-- HEADER TOOLBAR --> 

<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ARCHIVE.TRACKS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- REGULAR CONTENT -->

<ion-content class="custom-content">
  <div class="ion-content-scroll-host">
    <ion-list lines="full">
      @for (item of fs.collection; track item; let i = $index) {
        <ion-item-sliding #slidingItem>
          <ion-item-options side="start">
            <ion-item-option 
              [color]="isTrackVisible(item) ? 'medium' : 'primary'" 
              (click)="toggleVisibility(item, slidingItem)">
              <ion-icon slot="top" [name]="isTrackVisible(item) ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              {{ (isTrackVisible(item) ? 'ARCHIVE.HIDE' : 'ARCHIVE.SHOW') | translate }}
            </ion-item-option>
            <ion-item-option color="secondary" (click)="exportTrackFile(item, slidingItem)">
              <ion-icon slot="top" name="share-outline"></ion-icon>
              {{ 'ARCHIVE.EXPORT_TRACK' | translate }}
            </ion-item-option>
          </ion-item-options>
          <ion-item>
            <ion-icon name="chevron-forward-outline" slot="start" color="medium" style="font-size: 12px;"></ion-icon> 
            <ion-label>
              <div class="item-content">
                <strong [class.active-text]="isTrackVisible(item)">{{ item.name }}</strong>
                <p class="item-date-subtitle">{{ item.date | date: 'dd-MM-yyyy' }}</p>
              </div>
            </ion-label>
            @if (isTrackVisible(item)) {
              <ion-badge slot="end" color="success">Visible</ion-badge>
            }
            <ion-icon name="chevron-back-outline" slot="end" color="medium" style="font-size: 12px;"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="tertiary" (click)="editSpecificTrack(i, slidingItem)">
              <ion-icon slot="top" name="create-outline"></ion-icon>
              {{ 'ARCHIVE.EDIT_TRACK' | translate }}
            </ion-item-option>
            <ion-item-option color="danger" (click)="confirmDeletion(i, slidingItem)">
              <ion-icon slot="top" name="trash-outline"></ion-icon>
              {{ 'ARCHIVE.REMOVE_TRACK' | translate }}
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>      
      }
    </ion-list> <div class="list-spacer"></div>
  </div>
</ion-content>

<!-- SPACE FOR ANDROID CONTROLS -->

<div class="bottom-safe-gray"></div>

<!-- NAVIGATION BUTTONS -->

<ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom-safe">
  <ion-row>
    <div class="record-button archive-color" (click)="fs.gotoPage('tab1')">
      <ion-icon name="earth-sharp"></ion-icon>
      <span>{{ 'MAP.MAP_BUTTON' | translate }}</span>
    </div>
    <div class="record-button archive-color" (click)="fs.gotoPage('canvas')">
      <ion-icon name="analytics-sharp"></ion-icon>
      <span>{{ 'MAP.DATA_BUTTON' | translate }}</span>
    </div>
    <div class="record-button archive-color" (click)="fs.gotoPage('settings')">
      <ion-icon name="settings-sharp"></ion-icon>
      <span>{{ 'MAP.SETTINGS_BUTTON' | translate }}</span>
    </div>
  </ion-row>
</ion-fab>

<!-- DELETION CONFIRMATION POPOVER -->

<ion-popover
  [isOpen]="isConfirmDeletionOpen"
  (didDismiss)="isConfirmDeletionOpen = false"
>
  <ng-template>
    <ion-list>
      <ion-item class="confirm" lines="none">
        <ion-label><strong>{{ 'RECORD.CONFIRM_DELETION' | translate }}</strong></ion-label>
      </ion-item>
      <ion-row>
        <button class="record-button green-color"
          (click)=" deleteTrack(); isConfirmDeletionOpen = false"
        >
          <ion-icon name="happy-sharp"></ion-icon>
          <span>{{ 'RECORD.DELETE_YES' | translate }}</span>
        </button>
        <button class="record-button red-color"
          (click)="isConfirmDeletionOpen = false"
        >
          <ion-icon name="sad-sharp"></ion-icon>
          <span>{{ 'RECORD.DELETE_NO' | translate }}</span>
        </button>
      </ion-row>
    </ion-list>
  </ng-template>
</ion-popover>

<!-- FAB CON LOS BOTONES SUPERIORS PARA MOSTRAR O ESCONDER TODOS LOS TRAYECTOS -->

    <ion-fab slot="fixed" horizontal="end" vertical="top" class="bottom-safe">
      @if (!mapService.visibleAll) {
        <div class="record-button archive-color" (click)="displayAllTracks(true)">
          <span>{{ 'ARCHIVE.SHOW' | translate }}</span>
          <ion-icon name="eye-outline"></ion-icon>
          <span>{{ 'ARCHIVE.ALL' | translate }}</span>
        </div>
      }
      @if (mapService.visibleAll) {        
        <div class="record-button archive-color" (click)="displayAllTracks(false)">
          <span>{{ 'ARCHIVE.HIDE' | translate }}</span>
          <ion-icon name="eye-off-outline"></ion-icon>
          <span>{{ 'ARCHIVE.ALL' | translate }}</span>
        </div>
      }  
    </ion-fab>

<!-- MAPA OCULTO -->

<div id="export-container" style="position: absolute; top: 0; left: 0; width: 800px; height: 600px; opacity: 0; z-index: -1; pointer-events: none;">
  <div id="map-export" style="width: 100%; height: 100%;"></div>
</div>