<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-segment [(ngModel)]="activeTab" mode="md">
      <ion-segment-button value="tracks">
        <ion-label>{{ 'ARCHIVE.TRACKS' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="places">
        <ion-label>{{ 'ARCHIVE.PLACES' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">

@if (activeTab === 'tracks') {
    <div class="ion-content-scroll-host">
      <app-archive-tracks
        (requestTrackDeletion)="onTrackDeletionRequest($event)"
        (requestTrackExport)="openExportMenu($event)">
      </app-archive-tracks>
    </div>
  }
  
  @if (activeTab === 'places') {
    <div class="ion-content-scroll-host">
      <app-archive-places
        (requestPlaceDeletion)="onPlaceDeletionRequest($event)">
      </app-archive-places>
    </div>
  }

</ion-content>

<div class="bottom-safe-gray"></div>

<ion-popover
  [isOpen]="isConfirmDeletionOpen"
  (didDismiss)="isConfirmDeletionOpen = false"
  class="confirm-popover">
  <ng-template>
    <div class="popover-island confirm-box">
      <p class="confirm-title">{{ 'RECORD.CONFIRM_DELETION' | translate }}</p>
      <div class="button-grid horizontal">
        <button class="nav-item-btn green-pill" (click)="executeDelete()">
          <ion-icon name="checkmark-outline"></ion-icon>
          <p>{{ 'RECORD.DELETE_YES' | translate }}</p>
        </button>
        <button class="nav-item-btn red-pill" (click)="isConfirmDeletionOpen = false">
          <ion-icon name="close-outline"></ion-icon>
          <p>{{ 'RECORD.DELETE_NO' | translate }}</p>
        </button>
      </div>
    </div>
  </ng-template>
</ion-popover>

<ion-popover
  [isOpen]="isExportMenuOpen"
  (didDismiss)="isExportMenuOpen = false"
  class="confirm-popover custom-export-popover">
  <ng-template>
    <div class="popover-island backup-box">
      <p class="confirm-title">{{ 'EXPORT.OPTIONS' | translate }}</p>
      <hr class="separator"/>

      <ion-list lines="none" class="backup-options-list">
        <ion-item>
          <ion-checkbox justify="start" labelPlacement="end" [(ngModel)]="exportConfig.html">
            {{ 'EXPORT.HTML' | translate }}
          </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="start" labelPlacement="end" [(ngModel)]="exportConfig.gpx">
            {{ 'EXPORT.GPX' | translate }}
          </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="start" labelPlacement="end" [(ngModel)]="exportConfig.kmz" (ionChange)="onKmzToggle('kmz')">
            {{ 'EXPORT.KMZ' | translate }}
          </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="start" labelPlacement="end" [(ngModel)]="exportConfig.photos" [disabled]="!trackHasPhotos">
            {{ 'EXPORT.PHOTOS' | translate }}
          </ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox justify="start" labelPlacement="end" [(ngModel)]="exportConfig.kmzPhotos" [disabled]="!trackHasPhotos" (ionChange)="onKmzToggle('kmzPhotos')">
            {{ 'EXPORT.KMZ_PHOTOS' | translate }}
          </ion-checkbox>
        </ion-item>
      </ion-list>

      <div class="button-grid horizontal top-margin equal-buttons">
        <button class="nav-item-btn green-pill" (click)="executeExport()" [disabled]="!isAnyExportOptionSelected()">
          <ion-icon name="checkmark-outline"></ion-icon>
          <p>{{ 'RECORD.DELETE_YES' | translate }}</p>
        </button>
        <button class="nav-item-btn red-pill" (click)="isExportMenuOpen = false">
          <ion-icon name="close-outline"></ion-icon>
          <p>{{ 'RECORD.DELETE_NO' | translate }}</p>
        </button>
      </div>
    </div>
  </ng-template>
</ion-popover>

<ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom-safe">
  @if (!fs.voiceControl) {
    <ion-row class="button-container">
      <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('tab1')">
        <ion-icon name="map-outline"></ion-icon>
        <p>{{ 'MAP.MAP_BUTTON' | translate }}</p>
      </div>
      <div class="record-button" 
          [class.button-disabled]="fs.isNavigating || (!present.currentTrack && !reference.archivedTrack)" 
          (click)="(!present.currentTrack && !reference.archivedTrack) ? null : fs.gotoPage('canvas')">
        <ion-icon name="analytics-outline"></ion-icon>
        <p>{{ 'MAP.DATA_BUTTON' | translate }}</p>
      </div>
      <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('settings')">
        <ion-icon name="settings-outline"></ion-icon>
        <span>{{ 'MAP.SETTINGS_BUTTON' | translate }}</span>
      </div>
    </ion-row>
  } @else {
    <div class="button-container voice-mode-container">
      <div class="mic-button-wrapper">
        <div class="mic-main-button"
            (click)="voiceRunner.toggleVoiceControl()"
            [class.is-listening]="voiceRunner.isListening">
          <ion-icon [name]="voiceRunner.isListening ? 'mic' : 'mic-outline'"></ion-icon>
        </div>
      </div>
    </div>
  }
</ion-fab>

<div id="export-container" class="hidden-map-container">
  <div id="map-export"></div>
</div>