:host {
    content {
      --background: transparent; /* Transparent background for content */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0; /* Remove default padding */
      margin: 0;
      overflow: hidden
    }
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); // Dark semi-transparent overlay 
    z-index: 1; // Places the overlay behind the popup 
    overflow: hidden
  }    
  
  .popup-content {
    position: relative;
    z-index: 2; // Ensures popup is above the overlay 
    width: 100%; // Keeps the popup at a manageable size 
    max-width: 400px;
    background-color: #ffffbb;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; // Ensures padding doesn't exceed width 
    overflow: hidden;
  }
  
  .popup-header {
    font-weight: bold;
    color: black;
  }
  
  .popup-divider {
    border: none;
    border-top: 2px solid black;
    margin: 8px 0;
  }
  
  .popup-body {
    color: black;
    opacity: 0.9;
  }
