<ion-content>
  
  <ion-list inset="true">
    <ion-list-header>
      <ion-label>{{ 'SETTINGS.GENERAL_GROUP' | translate }}</ion-label>
    </ion-list-header>

    <ion-item lines="full">
      <ion-icon name="language-sharp" slot="start" color="primary"></ion-icon>
      <ion-label>{{ 'SETTINGS.LANGUAGE' | translate }}</ion-label>
      <ion-select [value]="selectedLanguage.code" (ionChange)="onLanguageChange($event.detail.value)" interface="popover" slot="end">
        @for (lang of languages; track lang.code) {
          <ion-select-option [value]="lang.code">{{ lang.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="map-sharp" slot="start" color="primary"></ion-icon>
      <ion-label>{{ 'SETTINGS.BASE_MAP' | translate }}</ion-label>
      <ion-select [value]="geography.mapProvider" (ionChange)="onMapChange($event.detail.value)" interface="popover" slot="end">
        @for (map of baseMaps; track map) {
          <ion-select-option [value]="map">{{ map }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>{{ 'SETTINGS.STYLE' | translate }}</ion-label>
    </ion-list-header>

    <ion-item lines="full">
      <ion-icon name="git-commit-sharp" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.CURRENT_TRACK' | translate }}</ion-label>
      
      <ion-button fill="clear" slot="end" (click)="openColorPopover($event, 'current')">
        <div class="color-display-v2">
          <div class="color-sample" [ngStyle]="{ 'background-color': present.currentColor }"></div>
          <ion-icon name="caret-down-sharp" color="medium" size="small"></ion-icon>
        </div>
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="trail-sign-sharp" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.REFERENCE_TRACK' | translate }}</ion-label>
      
      <ion-button fill="clear" slot="end" (click)="openColorPopover($event, 'archived')">
        <div class="color-display-v2">
          <div class="color-sample" [ngStyle]="{ 'background-color': reference.archivedColor }"></div>
          <ion-icon name="caret-down-sharp" color="medium" size="small"></ion-icon>
        </div>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-list-header>
      <ion-label>{{ 'SETTINGS.SYSTEM_GROUP' | translate }}</ion-label>
    </ion-list-header>

    <ion-item lines="none"> 
      <ion-icon name="notifications-sharp" slot="start" [color]="fs.alert === 'on' ? 'warning' : 'medium'"></ion-icon>
      <ion-label>{{ 'SETTINGS.ALERT' | translate }}</ion-label>
      <ion-toggle slot="end" [checked]="fs.alert === 'on'" (ionChange)="onAlertChange($event.detail.checked)"></ion-toggle>
    </ion-item>
  </ion-list>

  <div style="height: 120px;"></div>
</ion-content>

<div class="bottom-safe-gray"></div>

<ion-fab slot="fixed" horizontal="center" vertical="bottom" class="bottom-safe">
  <ion-row class="button-container">
    <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('tab1')">
      <ion-icon name="earth-sharp"></ion-icon>
      <span>{{ 'MAP.MAP_BUTTON' | translate }}</span>
    </div>
    <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('canvas')">
      <ion-icon name="bar-chart-sharp"></ion-icon>
      <span>{{ 'MAP.DATA_BUTTON' | translate }}</span>
    </div>
    <div class="record-button" [class.button-disabled]="fs.isNavigating" (click)="fs.gotoPage('archive')">
      <ion-icon name="library-sharp"></ion-icon>
      <span>{{ 'MAP.ARCHIVE_BUTTON' | translate }}</span>
    </div>
  </ion-row>
</ion-fab>